<%- layout("/layouts/boilerplate") %><!-- no = -->
<!--/ wrto views as its set for view ejs path-->
<body>
    <h3>all list</h3>
    <!--instead of anchor-->
    <form action="/list/new" method="GET"><!--get req-->
        <button>Create New List</button>
    </form>
    <ul>
        <% for(let list of allList){ %>
            <li><a href="/list/<%=list._id%>"><%= list.title%></a></li><!--send as params(from req)-->
        <% } %>
    </ul>
</body>

